# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Base Defender.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\escam\Documents\_Repositories\BaseDefender\.idea\.idea.Base Defender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
